.top , .left , .right{
box-sizing:border-box;
}
.top{
position: fixed;
overflow: hidden;
width: 100%;
height: 100px;
left: 0px;
top: 0px;
border-bottom:1px #aaa solid;
}

.top .logo{
width: 90px;
height: 90px;
margin: 5px;
vertical-align: middle;
}

.top .title{
height: 90px;
line-height: 90px;
margin: 5px;
font-size: 50px;
vertical-align: middle;
}

.left{
position: fixed;
overflow: auto;
width: 300px;
height: calc(100% - 100px);
left: 0px;
bottom: 0px;
border-right:1px #aaa solid; 
}

.left ul li{
line-height: 30px;
list-style-type: disc;
transition: 300ms;
color: black;
cursor:pointer;
}

.left ul li:hover{
color: #C10000;
}

.right{
position: fixed;
overflow: auto;
width: calc(100% - 300px);
height: calc(100% - 100px);
right: 0px;
bottom: 0px;
}

.right iframe{
width: 100%;
height: 100%;
border:0;
}