.title0{
width: 100%;
height: 50px;
display: block;
clear: both;
border-bottom: 1px solid #AAA;
font-size: 30px;
line-height: 50px;
font-weight: bold;
}

.title1{
width: 100%;
height: 30px;
display: block;
clear: both;
border-bottom: 1px solid #AAA;
font-size: 20px;
line-height: 30px;
font-weight: bold;
padding-left: 20px;
margin-top: 5px;
}

.content{
width: 100%;
text-indent: 2em;
}

.code{
border:1px #555 solid;
background:#EDEDED;
line-height: 25px;
margin: 0 20px;
text-indent: 0em !important;
}

